<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
  <title>Nick Terrafranca</title>
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/grid.css" />
  <!-- <link rel="icon" type="image/png" href="/resources/In-White_14px.png"> -->
</head>
<body>
  <header>
    <div id="nav">
      <span id="nav-bar-left">
        <a href="<%= "/" %>"><%= "Nicholas Terrafranca" %></a>
      </span>
      <span id="nav-bar-right">
        <a href="<%= "/contact" %>"><%= "Contact" %></a>
        <a href="<%= "/tools" %>"><%= "Tools" %></a>
        <a href="https://www.linkedin.com/in/nterrafranca" target="_blank">LinkedIn</a>
        <a href="https://github.com/NickTerrafranca" target="_blank">GitHub</a>
        <!-- <img src="images/In-White-14px.png" alt="LinkedIn"> -->
      </span>
    </div>
  </header>
  <!-- <div id="container"> -->
    <%= yield %>
  <!-- </div> -->
</body>
</html>
